<configuration debug="true">

    <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ} LEVEL=%p, MSG=%m%ex{10}, %class:%method%n</pattern>
        </encoder>
    </appender>

    <appender name="App-File-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/jfxFileContentEditor.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/jfxFileContentEditor.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ} LEVEL=%p,MSG=%m%ex{10}, %class:%method%n</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="INFO" additivity="false">
        <appender-ref ref="App-File-Appender"/>
        <appender-ref ref="Console-Appender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="Console-Appender" />
        <appender-ref ref="App-File-Appender" />
    </root>
 
</configuration>
